## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Dingle,PH,77.56,overcast clouds,11.00,122.67,Camp Pasica
1,2,Tawau,MY,77.00,few clouds,4.25,117.89,Shervinton Executive Boutique Hotel
2,7,Ponta Do Sol,PT,75.00,clear sky,32.67,-17.10,Hotel do Campo
3,9,Kapaa,US,79.00,scattered clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,13,Gorom-Gorom,BF,88.11,light rain,14.44,-0.24,Mairie de Rambo

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [102]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Shingu"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Shingu"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Katsuura"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hasaki"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Kamiichi"] 

vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
40,114,Shingu,JP,76.32,few clouds,33.73,135.98,Shingu UI Hotel

In [94]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#vacation_start[["Lat","Lng"]].to_numpy()
start = (33.7, 136.0)
end = (33.7, 136.0)
#stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop1=(35.1,140)
stop2=(35.7,140.8)
stop3=(36.7,137.4)
#stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
#stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
print(start, end, stop1, stop2 , stop3)

(33.7, 136.0) (33.7, 136.0) (35.1, 140) (35.7, 140.8) (36.7, 137.4)

In [98]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
tripmap = gmaps.directions_layer(start, end,waypoints =[stop1,stop2,stop3], travel_mode = 'DRIVING')
fig.add_layer(tripmap)
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,114,Shingu,JP,76.32,few clouds,33.73,135.98,Shingu UI Hotel
1,123,Katsuura,JP,80.60,broken clouds,35.13,140.30,Katsuura Hotel Mikazuki
2,129,Hasaki,JP,77.00,scattered clouds,35.73,140.83,Inubosaki Kanko Hotel
3,382,Kamiichi,JP,78.01,broken clouds,36.70,137.37,æ é¤¨ ã ããã

In [101]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp}Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [103]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))